.pokemon-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-list li {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 8px;
  text-transform: capitalize;
}

.hidden-ability {
  color: #ffeb3b;
  font-style: italic;
  font-size: 12px;
}