<div class="column">
  <div>
    <input #miInput type="string" placeholder="Escribre algo" />
    <button (click)="procesarValor(miInput.value)">Enviar</button>
  </div>

  <h2>Unico personaje</h2>
  <div *ngIf="character; else NoCharacter">
    <p> {{ character.id }} {{ character.name }} – Origen: {{ character.origin.name }} </p>
    <h3>Lista episodios sin procesar</h3>
    <ul>
      <li class="procesar" *ngFor="let e of character.episode" #item
        (click)="traerEpisodio(e); item.classList.add('seleccionado')">
        {{ e }}
      </li>
    </ul>
    <h3>Lista episodios procesados</h3>
    <ul>
      <li *ngFor="let ep of episodiosProcesados">
        {{ ep.name }}
      </li>
    </ul>
  </div>
  <ng-template #NoCharacter>
    <p>No hay personaje que mostrar</p>
  </ng-template>
</div>