<h3 class="section-title">Moves</h3>

<div class="move-table-container">
  <table class="move-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Accuracy</th>
        <th>Power</th>
        <th>Power Points</th>
        <th>Damage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let move of pokeMoveList">
        <td>{{ move.move.name }}</td>
        <td>{{ move.detail?.accuracy !== null ? move.detail?.accuracy : '-' }}</td>
        <td>{{ move.detail?.power !== null ? move.detail?.power : '-'}}</td>
        <td>{{ move.detail?.pp }}</td>
        <td>{{ move.detail?.damage_class.name }}</td>
      </tr>
    </tbody>
  </table>
</div>