<div class="pokemon-card">
  <p class="pokemon-id"># {{pokeMonster?.id | zeros}}</p>
  <img 
    class="pokemon-image"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokeMonster?.id}}.png"
    alt="{{pokeMonster?.name}}"
  />
  <p class="pokemon-name">{{pokeMonster?.name}}</p>
  <p class="pokemon-genus">{{genera?.genus}}</p>
  <p class="pokemon-description">{{selectedFlavorText?.flavor_text}}</p>

  <app-pokemon-measurements [pokeMeasurements]="pokeMonster" />

  <app-poke-types [pokeTypes]="pokeMonster" />

  <app-poke-abilities [pokeAbilities]="pokeMonster" />

  <app-poke-stats [pokeStats]="pokeMonster" />

</div>