<section class="pokemon-card">

  <div>
    <button class="pokedex-back-btn" (click)="goBackPokeLab()">
      <span>◀ Back</span>
    </button>

    <app-poke-card [pokeCard]="pokeMonster" [pokeCardGenera]="genera" [pokeCardFlavorText]="selectedFlavorText" />
    <app-pokemon-measurements [pokeMeasurements]="pokeMonster" />
    <app-poke-types [pokeTypes]="pokeMonster" />

    <app-poke-abilities [pokeAbilities]="pokeMonster" />
  </div>

  <div>
    <app-poke-stats [pokeStats]="pokeMonster" />
    <app-poke-evolutions [evolutionChain]="evolutionChain" />
    <app-poke-moves [pokeMoves]="pokeMovesList" />
  </div>

</section>