.evolution-chain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.dual-evolution {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.evolution-branch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}