<div class="column">
  <h2>Lista de personajes</h2>
  <ul>
    <li *ngFor="let p of characters; let par = even" (click)="seleccionarPersonaje(p)">
      <ng-container *ngIf="par; else Impar">
        <p style="color: red">
          ID: {{ p.id }} - Nombre: {{ p.name }} – Origen: {{ p.origin.name }} - {{ p.mostrar }} - {{ p.episode.length }}
          <input [(ngModel)]="p.name">
        </p>
      </ng-container>

      <ng-template #Impar>
        <p style="color: grey">
          ID: {{ p.id }} - Nombre: {{ p.name }} – Origen: {{ p.origin.name }} - {{ p.mostrar }} - {{ p.episode.length }}
        </p>
      </ng-template>
    </li>
  </ul>
  <h3>Personaje</h3>
  <ng-container *ngIf="personajeSeleccionado">
    <app-card-personaje 
    [personaje]="personajeSeleccionado"
    (favorito)="onMarcadoFavorito($event)"
    (noFavorito)="onDesmarcadoFavorito($event)" />
  </ng-container>
</div>