<div class="column">
  <h2 style="color: white;">Lista de personajes</h2>

  <!-- vista de jugadores -->
  <div class="grid" *ngIf="!cargandoJugadores; else loading" [class.disabled-selection]="selectPlayerOne && selectPlayerTwo">
    <div class="card" *ngFor="let p of characters" [ngClass]="{
      'selected-player-one': p === selectPlayerOne && p !== selectPlayerTwo,
      'selected-player-two': p === selectPlayerTwo && p !== selectPlayerOne,
      'selected-both': p === selectPlayerOne && p === selectPlayerTwo
    }">
      <div class="avatar" (click)="!isSelectionLocked() && seleccionarPersonaje(p)">
        <img [src]="p.image" alt="{{p.name}}" />
      </div>
      <div class="name">{{ p.name }}</div>
    </div>
  </div>

  <!-- vista carga de jugadores API https://rickandmortyapi.com/api -->
  <ng-template #loading>
    <p style="color: white;">Cargando personajes...</p>
  </ng-template> 

  <h2 style="color: white;">Área combate</h2>

  <div class="versus-container">
    <!-- vista jugador uno -->
    <ng-container *ngIf="selectPlayerOne">
      <div class="area-juego">
        <div class="player-container">
          <app-card-personaje [personaje]="selectPlayerOne" />
        </div>
        <div>
          <app-biografia-personaje [personaje]="selectPlayerOne" [numeroJugador]="1" />
        </div>
      </div>
    </ng-container>

    <span class="vs-text">VS</span>

    <!-- vista jugador dos -->
    <ng-container *ngIf="selectPlayerTwo">
      <div class="area-juego">
        <div class="player-container">
          <app-card-personaje [personaje]="selectPlayerTwo" />
        </div>
        <div>
          <app-biografia-personaje [personaje]="selectPlayerTwo" [numeroJugador]="2" />
        </div>
      </div>
    </ng-container>

    <!-- vista resultado cachipún -->
    <ng-container *ngIf="ganador.length > 0">
      <div class="winner-overlay">
        <div class="winner-content">
          <h2>¡Resultado!</h2>
          <app-resultado-juego [ganador]="ganador" [numeroGanador]="numeroJugadorGanador" />
        </div>
      </div>
    </ng-container>

  </div>

  <!-- footer juego -->
  <ng-container *ngIf="selectPlayerOne && selectPlayerTwo">
    <div class="footer-juego">
      <app-button-luchar [playerOne]="selectPlayerOne" [playerTwo]="selectPlayerTwo"
        (ganadorJuego)="handleGanador($event)" [resetCompletoJuego]="resetJuegoPensando.bind(this)" />
      <app-button-reset (onReset)="resetJuego()" />
    </div>
  </ng-container>
</div>